.products {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem 5rem 0;

    &-path {
        .link {
            font-size: 0.875rem;
            text-decoration: none;
            color: #00a8a9;

            &.active {
                color: #cb0d1f;
            }

            &:hover {
                text-decoration: underline;
            }
        }
        span {
            margin: 0 0.2rem;
        }
    }
}

.products-container {
    display: flex;
    gap: 0.75rem;
    margin: 1rem 0;

    &-filter {
        width: 16.25rem;
        border: 1px solid #e2dedc;
        padding: 0 1rem 1rem;
        height: fit-content;

        h3 {
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 600;
            margin: 1rem 0 2rem;
            color: #ed1a39;
        }

        h4 {
            margin: 2rem 0 1rem;
            font-size: 1.125rem;
            font-weight: 600;
            text-transform: uppercase;

            &:nth-child(2n) {
                margin-top: 2.5rem;
            }
        }

        ul {
            color: #626262;

            li {
                list-style-type: disc;
                list-style-position: inside;
                cursor: pointer;
                margin-bottom: 0.4rem;

                &:hover {
                    text-decoration: underline;
                }

                span {
                    position: relative;
                    left: -10px;
                }
            }
        }

        .colors {
            display: flex;
            gap: 0.2rem;

            li {
                list-style-type: none;
            }
        }
    }

    &-products {
        width: 100%;

        h2 {
            text-transform: uppercase;
            font-size: 2rem;
            color: #ed1a39;
            line-height: 2.65rem;
        }

        .horizontal-line {
            height: 1px;
            width: 100%;
            background-color: rgba(226, 222, 220, 0.7);
        }

        &-order {
            display: flex;
            justify-content: space-between;
            padding: 0.4rem 0;

            div {
                span {
                    color: #808185;
                    margin-right: 0.6rem;
                    font-size: 0.7rem;
                    font-weight: bold;
                }

                select {
                    width: 13.5rem;
                }
            }
        }

        &-grid {
            margin-top: 1.5rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 20px 35px;
            grid-template-areas:
                ". . . ."
                ". . . ."
                ". . . .";

            h6 {
                color: #626262;
                line-height: 1.125rem;
                height: 1.5rem;
                text-transform: uppercase;
            }

            h5 {
                text-transform: uppercase;
                font-weight: bolder;
                font-size: 1.3rem;
                line-height: 1.5rem;
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: center;
                align-items: center;

                div {
                    display: flex;
                    gap: 1rem;
                    flex-direction: row;
                    justify-content: center;

                    &:first-child {
                        width: 100%;
                        border: 1px solid #e2dedc;
                    }
                }

                button {
                    width: 100%;
                    height: 2.5rem;
                    border-radius: 5px;
                    background-color: #00a8a9;
                    border: 1px solid #00a8a9;
                    color: white;
                    font-size: 1.125rem;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover {
                        color: rgba(0, 0, 0, 0.7);
                    }
                }
            }

            img {
                width: 12.25rem;
                height: 13.45rem;
                object-fit: scale-down;
            }
        }

        &-pagination {
            margin: 2.5rem 0;
            display: flex;
            justify-content: center;
            gap: 0.6rem;

            span {
                color: #626262;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    color: rgba(203, 13, 31, 0.85);
                }
            }
            .active-page {
                color: #cb0d1f;
                font-weight: 600;
            }

            span:first-child,
            span:last-child {
                color: blue;
                font-weight: 700;
            }
        }
    }
}
