.home-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    gap: 1.25rem;

    &-nav {
        background-color: #e2dedc;
        min-height: 20rem;
        height: fit-content;
        margin: 1rem 0 0;
        width: 16rem;
        padding: 1rem;
        margin-bottom: 2.5rem;

        a {
            text-decoration: none;
            color: black;
        }

        li {
            margin: 0 0 0.5rem 1rem;
            list-style: disc;
            font-size: 1.125rem;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-flex {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        align-items: center;

        &-banner {
            background-color: #acacac;
            height: 10rem;
            width: 100%;
            margin: 1rem 2rem;
        }

        &-content {
            margin-bottom: 2.5rem;
            h1 {
                font-size: 1.625rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }

            p {
                text-align: justify;
            }
        }
    }

    @media (max-width: 1024px) {
        padding: 0 1rem;

        &-nav {
            min-width: 165px;
            width: 25%;
        }

        @media (max-width: 768px) {
            &-nav li {
                font-size: 1rem;
            }
        }
        @media (max-width: 720px) {
            padding: 0 0.5rem;
        }
        @media (max-width: 580px) {
            &-nav {
                min-width: 135px;
            }
        }
        @media (max-width: 520px) {
            &-nav {
                display: none;
            }
        }
    }
}
