.container-forms {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;

    input,
    textarea {
        height: 2rem;
        width: 25rem;
        font-size: 1rem;
        font-family: "Open Sans", sans-serif;
    }

    button {
        color: white;
        background-color: #cb0d1f;
        border: 1px solid #cb0d1f;
        height: 2.75rem;
        width: 6.75rem;
        cursor: pointer;
        font-size: 1rem;
        letter-spacing: -0.8px;
        font-weight: 600;
        margin-bottom: 2.5rem;

        &:hover {
            color: rgba(0, 0, 0, 0.7);
        }

        &:disabled {
            opacity: 0.6;
            cursor: default;

            &:hover {
                color: white;
            }
        }
    }
}
