.header-container {
    &-account {
        background-color: #231f20;
        color: white;

        &-content {
            max-width: 1440px;
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
            gap: 0.4rem;
            padding: 0.3rem 5rem;

            a,
            span {
                color: white;
                font-size: 0.875rem;

                &:hover {
                    color: #00a8a9;
                }
            }
        }
    }

    &-webjump {
        &-content {
            max-width: 1440px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: fit-content;
            padding: 1rem 5rem;

            div {
                display: flex;
                align-items: center;
            }

            img {
                width: 11.75rem;
            }

            input {
                height: 2.75rem;
                width: 25rem;
                font-size: 1rem;
            }
            .input-disabled {
                pointer-events: none;
            }

            button {
                color: white;
                background-color: #00a8a9;
                border: 1px solid #00a8a9;
                height: 2.75rem;
                width: 6.75rem;
                cursor: pointer;
                font-size: 1rem;
                letter-spacing: -0.8px;
                font-weight: 600;

                &:hover {
                    color: rgba(0, 0, 0, 0.7);
                }

                &:disabled {
                    background-color: #cb0d1f;
                    border: 1px solid #cb0d1f;
                    cursor: default;

                    &:hover {
                        color: white;
                    }
                }
            }

            a {
                color: black;
                display: none;
            }

            .react-icons {
                display: none;
            }
        }
    }

    &-nav {
        background-color: #cb0d1f;
        color: white;

        &-content {
            max-width: 1440px;
            padding: 1rem 5rem;
            margin: 0 auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            a {
                text-decoration: none;
                color: white;
            }

            h4 {
                font-weight: 800;
                cursor: pointer;
                text-align: left;
                min-width: 10rem;

                &:hover {
                    color: rgba(0, 0, 0, 0.7);
                }
            }
        }

        &.mobile &-content {
            position: fixed;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: #cb0d1f;

            a {
                width: 100%;
                border-bottom: 1px solid black;
                border-top: 1px solid black;
            }

            h4 {
                width: 100%;
                padding: 1rem 0;
            }
        }
    }

    @media (max-width: 1024px) {
        &-account {
            &-content {
                width: 100%;
                padding: 0.3rem 1rem;
            }
        }
        &-webjump {
            &-content {
                width: 100%;
                padding: 1rem 1rem;
            }
        }
        &-nav {
            &-content {
                width: 100%;
                padding: 1rem 1rem;

                a {
                    width: 20%;
                }

                h4 {
                    min-width: 6.5rem;
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 768px) {
        &-nav {
            &-content {
                h4 {
                    min-width: 5.4rem;
                }
            }
        }
        &-webjump {
            &-content {
                img {
                    width: 25%;
                }
                div {
                    justify-content: flex-end;
                    width: 70%;
                }
                input {
                    width: 80%;
                }
            }
        }
    }
    @media (max-width: 720px) {
        &-webjump-content {
            justify-content: center;
            padding: 1rem 0.5rem;
        }
    }
    @media (max-width: 600px) {
        &-account {
            &-content {
                justify-content: center;
                padding: 0.3rem 0rem;
            }
        }
        &-webjump {
            &-content {
                justify-content: center;
                padding: 1rem 0rem;
            }
        }
        &-nav {
            &-content {
                justify-content: center;
                padding: 1rem 0rem;

                h4 {
                    text-align: center;
                }
            }
        }
    }

    @media (max-width: 520px) {
        &-webjump {
            &-content {
                width: 100%;

                div {
                    display: none;
                }

                img {
                    height: 5rem;
                    width: 50%;
                    margin: 0 auto;
                    object-fit: scale-down;
                }

                a {
                    display: inline;
                    padding: 0 1rem;
                    height: 4rem;
                    width: 4rem;
                }

                .react-icons {
                    padding: 0 1rem;
                    height: 4rem;
                    width: 4rem;
                    display: inline;
                }
            }
        }

        &-nav {
            &.pc {
                display: none;
            }
        }
    }
}
