.header-container {
    &-account {
        background-color: #231f20;
        color: white;

        &-content {
            max-width: 1440px;
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
            gap: 0.4rem;
            padding: 0.3rem 5rem;

            a,
            span {
                color: white;
                font-size: 0.875rem;

                &:hover {
                    color: #00a8a9;
                }
            }
        }
    }

    &-webjump {
        &-content {
            max-width: 1440px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: fit-content;
            padding: 1rem 5rem;

            div {
                display: flex;
                align-items: center;
            }

            img {
                width: 11.75rem;
            }

            input {
                height: 2.75rem;
                width: 25rem;
                font-size: 1rem;
            }

            button {
                color: white;
                background-color: #cb0d1f;
                border: 1px solid #cb0d1f;
                height: 2.75rem;
                width: 6.75rem;
                cursor: pointer;
                font-size: 1rem;
                letter-spacing: -0.8px;
                font-weight: 600;

                &:hover {
                    color: rgba(0, 0, 0, 0.7);
                }
            }
        }
    }

    &-nav {
        background-color: #cb0d1f;
        color: white;

        &-content {
            max-width: 1440px;
            padding: 1rem 5rem;
            margin: 0 auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            a {
                text-decoration: none;
                color: white;
            }

            h4 {
                font-weight: 800;
                width: 10rem;
                cursor: pointer;
                text-align: left;

                &:hover {
                    color: rgba(0, 0, 0, 0.7);
                }
            }
        }
    }
}
